html { 
  /* background: url(../images/background.jpg) no-repeat center center fixed; */ 
  background-color: #232D2F;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wooimage {
	position: fixed;
	top: 40%;
	left: 32.5%;
	/* Stuff to delete after getting real image */
	width: 40%;
	height: 25%;
}

#email_form {
	position: fixed;
	top: 75%;
	left: 25%;
	width: 80%;
}

#email {
	width: 60%;
	padding-left: 2%;
}

#submit {
	background-color: #f04040;
}

input {
	font-family: arial;
	font-size: 20px;	
	height: 50px;
}